.scramble.svelte-b9nydz {
  font-size: 40px;
  text-align: center;
}
table.svelte-b9nydz {
  width: 100%;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
td.svelte-b9nydz {
  cursor: pointer;
  border-radius: 5px;
  border-spacing: 100px;
  text-align: center;
}
table.svelte-1nht9bi {
  width: 100%;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
td.svelte-1nht9bi {
  cursor: pointer;
  border-radius: 5px;
  border-spacing: 100px;
  text-align: center;
}
th.svelte-1nht9bi {
  cursor: pointer;
  border: 1px solid black;
  border-radius: 5px;
  border-spacing: 100px;
  text-align: center;
}
img.svelte-1nht9bi {
  width: 70%;
}
.selected.svelte-1nht9bi {
  border: 1px solid black;
}
.notSelected.svelte-1nht9bi {
  border: 1px solid lightgrey;
}
.svelte-1mzek0z {
  box-sizing: border-box;
}
.bg.svelte-1mzek0z {
  top: 0;
  left: 0;
  position: fixed;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.66);
}
.window-wrap.svelte-1mzek0z {
  position: relative;
  margin: 2rem;
  max-height: 100%;
}
.window.svelte-1mzek0z {
  position: relative;
  width: 40rem;
  max-width: 100%;
  max-height: 100%;
  margin: 2rem auto;
  color: black;
  border-radius: 0.5rem;
  background: white;
}
.content.svelte-1mzek0z {
  position: relative;
  padding: 1rem;
  max-height: calc(100vh - 4rem);
  overflow: auto;
}
.close.svelte-1mzek0z {
  display: block;
  box-sizing: border-box;
  position: absolute;
  z-index: 1000;
  top: 1rem;
  right: 1rem;
  margin: 0;
  padding: 0;
  width: 1.5rem;
  height: 1.5rem;
  border: 0;
  color: black;
  border-radius: 1.5rem;
  background: white;
  box-shadow: 0 0 0 1px black;
  transition: transform 0.2s cubic-bezier(0.25, 0.1, 0.25, 1),
    background 0.2s cubic-bezier(0.25, 0.1, 0.25, 1);
  -webkit-appearance: none;
}
.close.svelte-1mzek0z:before,
.close.svelte-1mzek0z:after {
  content: '';
  display: block;
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  width: 1rem;
  height: 1px;
  background: black;
  transform-origin: center;
  transition: height 0.2s cubic-bezier(0.25, 0.1, 0.25, 1),
    background 0.2s cubic-bezier(0.25, 0.1, 0.25, 1);
}
.close.svelte-1mzek0z:before {
  -webkit-transform: translate(0, -50%) rotate(45deg);
  -moz-transform: translate(0, -50%) rotate(45deg);
  transform: translate(0, -50%) rotate(45deg);
  left: 0.25rem;
}
.close.svelte-1mzek0z:after {
  -webkit-transform: translate(0, -50%) rotate(-45deg);
  -moz-transform: translate(0, -50%) rotate(-45deg);
  transform: translate(0, -50%) rotate(-45deg);
  left: 0.25rem;
}
.close.svelte-1mzek0z:hover {
  background: black;
}
.close.svelte-1mzek0z:hover:before,
.close.svelte-1mzek0z:hover:after {
  height: 2px;
  background: white;
}
.close.svelte-1mzek0z:focus {
  border-color: #3399ff;
  box-shadow: 0 0 0 2px #3399ff;
}
.close.svelte-1mzek0z:active {
  transform: scale(0.9);
}
.close.svelte-1mzek0z:hover,
.close.svelte-1mzek0z:focus,
.close.svelte-1mzek0z:active {
  outline: none;
}
.main.svelte-1mzek0z {
  background-color: white;
  top: -1px;
  position: -webkit-sticky;
  position: sticky;
  padding: 10px;
  font-size: 200%;
  font-weight: bold;
  user-select: none;
  -webkit-user-select: none;
  width: auto;
  overflow: auto;
}
.title.svelte-1mzek0z {
  float: left;
}
.mode.svelte-1mzek0z {
  float: right;
  padding-left: 10px;
}
div.svelte-oy8whv {
  text-align: center;
}
.red.svelte-oy8whv {
  color: red;
}
.green.svelte-oy8whv {
  color: green;
}

/*# sourceMappingURL=bundle.css.map */
